@{ ViewData["Title"] = "Access denied"; }

<h1>Access denied</h1>
<div class="text-center">
    <p>
        You don't have the right to access the requested resource.
        <br />
        Please login with a different user account or contact site admins.
    </p>
</div>