@{ ViewData["Title"] = "Reset password"; }

<div class="auth-form">
    <form asp-controller="Account" asp-action="GenerateResetToken" method="post">
        <h2 class="text-center">Reset password</h2>
        <div class="form-group">
            <input type="text" name="Email" class="form-control" placeholder="Email" required="required">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">Send me instructions</button>
        </div>
    </form>
    <p class="text-center">If you're email matches one of our registered users, you will recieve instructions on how to reset your password !</p>
    <h1 class="text-center">@ViewBag.errmsg</h1>
</div>