@{ ViewData["Title"] = "Login"; }
<div class="auth-form">
    <form asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
        <h2 class="text-center">Log in</h2>
        <div class="form-group">
            <input type="text" name="Email" class="form-control" placeholder="Email, Username or Phone Number" required="required">
        </div>
        <div class="form-group">
            <input type="password" name="Password" class="form-control" placeholder="Password" required="required">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">Log in</button>
        </div>
        <div class="clearfix">
            <label class="pull-left checkbox-inline"><input type="checkbox" name="RememberMe"> Remember me</label>
            <a href="/Account/GenerateResetToken" class="pull-right">Forgot Password?</a>
        </div>
    </form>
    <h4 class="text-danger">@ViewBag.ErrorMessage</h4>
    <p class="text-center"><a href="/Account/Join">Create an Account</a></p>
</div>