@model string;
@{ ViewData["Title"] = "Mail Sent"; }

<h1 class="text-center">Check your email</h1>
<div class="text-center">
    <p>
        If you're email is in our database, you should get an email from us with instrcutions.
        <br />
        Check your email and follow insctructions !
    </p>

    @*Debug Info, Token is @Model*@
</div>