@{ ViewData["Title"] = "Reset password"; }

@model Goalvisor.ViewModels.Authentication.ResetPassword
<div class="auth-form">
    <form asp-controller="Account" asp-action="ResetPassword" method="post">
        <h2 class="text-center">Reset Password</h2>
        <input type="text" name="token" class="form-control" hidden value="@Model.Token" required="required" />
        <div class="form-group">
            <input type="text" name="Email" class="form-control" placeholder="Email" required="required">
        </div>
        <div class="form-group">
            <input type="password" name="Password" class="form-control" placeholder="Password" required="required">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">Reset Password</button>
        </div>
    </form>
</div>

<p>
    @Model.Messages
</p>