@{
    ViewData["Title"] = "Home Page";
}

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Goalvisorx</title>
    <meta name="description" content="Goalvisor description" />

    <!-- OG Meta Tags to improve the way the post looks when you share the page on LinkedIn, Facebook, Google+ -->
    <meta property="og:site_name" content="" /> <!-- website name -->
    <meta property="og:site" content="" /> <!-- website link -->
    <meta property="og:title" content="" /> <!-- title shown in the actual shared post -->
    <meta property="og:description" content="" /> <!-- description shown in the actual shared post -->
    <meta property="og:image" content="" /> <!-- image link, make sure it's jpg -->
    <meta property="og:url" content="" /> <!-- where do you want your post to link to -->
    <meta property="og:type" content="article" />
</head>

<!-- Navigation -->
<!--<nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
    <div class="container-fluid">-->
<!-- Text Logo - Use this if you don't have a graphic logo -->
<!-- <a class="navbar-brand logo-text page-scroll" href="index.html">Tivo</a> -->
<!-- Image Logo -->
<!--<a class="navbar-brand logo-image" href="index.html"><img src="images/logo.png" alt="alternative"></a>-->
<!-- Mobile Menu Toggle Button -->
<!--<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-awesome fas fa-bars"></span>
    <span class="navbar-toggler-awesome fas fa-times"></span>
</button>-->
<!-- end of mobile menu toggle button -->
<!--<div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link page-scroll" href="#header">HOME <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link page-scroll" href="#features">FEATURES</a>
        </li>
        <li class="nav-item">
            <a class="nav-link page-scroll" href="#details">DETAILS</a>
        </li>-->


<!-- end of navigation -->
<!-- Header -->
<header id="header" class="header hero-container">
    <div class="header-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-xl-5">
                    <div class="text-container">
                        <h1>Create your own customisable, feature-packed inplay scanners</h1>
                        <p class="p-large">Make finding profitable games a breeze</p>
                        <a class="btn-solid-lg page-scroll" href="sign-up.html">Start my free trial</a>
                    </div>
                </div> 
                <div class="col-lg-6 col-xl-7">
                    <div class="image-container">
                        <div class="img-wrapper">
                            <img class="img-fluid" src="images/header-software-app.png" alt="alternative">
                        </div> 
                    </div> 
                </div> 
            </div> 
        </div> 
    </div> 
</header>

<svg class="header-frame" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" viewBox="0 0 1920 310">
    <defs>
        <style>
            .cls-1 {
                fill: #5f4def;
            }
        </style>
    </defs>
    <title>header-frame</title>
    <path class="cls-1" d="M0,283.054c22.75,12.98,53.1,15.2,70.635,14.808,92.115-2.077,238.3-79.9,354.895-79.938,59.97-.019,106.17,18.059,141.58,34,47.778,21.511,47.778,21.511,90,38.938,28.418,11.731,85.344,26.169,152.992,17.971,68.127-8.255,115.933-34.963,166.492-67.393,37.467-24.032,148.6-112.008,171.753-127.963,27.951-19.26,87.771-81.155,180.71-89.341,72.016-6.343,105.479,12.388,157.434,35.467,69.73,30.976,168.93,92.28,256.514,89.405,100.992-3.315,140.276-41.7,177-64.9V0.24H0V283.054Z" />
</svg>

<!-- Control impulsive bets -->
<div id="details" class="basic-1">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="text-container">
                    <h2>Control impulsive bets</h2>
                    <p>Customisable scanner</p>
                    <ul class="list-unstyled li-space-lg">
                        <li class="media">
                            <i class="fas fa-square"></i>
                            <div class="media-body">Edit columns boiii</div>
                        </li>
                        <li class="media">
                            <i class="fas fa-square"></i>
                            <div class="media-body">Even duz c0l0r</div>
                        </li>
                    </ul>
                    <a class="btn-solid-reg page-scroll" href="sign-up.html">Start my free trial</a>
                </div> <!-- end of text-container -->
            </div> <!-- end of col -->
            <div class="col-lg-6">
                <div class="image-container">
                    <img class="img-fluid" src="images/details.png" alt="alternative">
                </div> <!-- end of image-container -->
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of basic-1 -->
<!-- end of Control impulsive bets -->
<!-- Improve psychologically -->
<div id="details" class="basic-1" style="background-color: #f3f7fd;">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 order-2">
                <div class="text-container">
                    <h2>Improve psychologically</h2>
                    <p>Customisable scanner</p>
                    <ul class="list-unstyled li-space-lg">
                        <li class="media">
                            <i class="fas fa-square"></i>
                            <div class="media-body">Edit columns</div>
                        </li>
                        <li class="media">
                            <i class="fas fa-square"></i>
                            <div class="media-body">Edit colours</div>
                        </li>
                    </ul>
                    <a class="btn-solid-reg page-scroll" href="sign-up.html">Start my free trial</a>
                </div> <!-- end of text-container -->
            </div> <!-- end of col -->
            <div class="col-lg-6 order-1">
                <div class="image-container">
                    <img class="img-fluid" src="images/details.png" alt="alternative">
                </div> <!-- end of image-container -->
            </div> <!-- end of col -->

        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of basic-1 -->
<!-- end of Improve psychologically -->
<!-- Follow daily trading plan discipline -->
<div id="details" class="basic-1">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="text-container">
                    <h2>Follow daily trading plan discipline</h2>
                    <p>Customisable scanner</p>
                    <ul class="list-unstyled li-space-lg">
                        <li class="media">
                            <i class="fas fa-square"></i>
                            <div class="media-body">Edit columns</div>
                        </li>
                        <li class="media">
                            <i class="fas fa-square"></i>
                            <div class="media-body">Even colours</div>
                        </li>
                    </ul>
                    <a class="btn-solid-reg page-scroll" href="sign-up.html">Start my free trial</a>
                </div> <!-- end of text-container -->
            </div> <!-- end of col -->
            <div class="col-lg-6">
                <div class="image-container">
                    <img class="img-fluid" src="images/details.png" alt="alternative">
                </div> <!-- end of image-container -->
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of basic-1 -->
<!-- Follow daily trading plan discipline-->
<!-- Control overstaking -->
<div id="details" class="basic-1" style="background-color: #f3f7fd;">
    <div class="container tabs">
        <div class="row">
            <div class="col-lg-6">
                <div class="image-container">
                    <img class="img-fluid" src="images/details.png" alt="alternative">
                </div> <!-- end of image-container -->
            </div> <!-- end of col -->
            <div class="col-lg-6">
                <div class="text-container">
                    <h2>Control overstaking</h2>
                    <p>Customisable scanner</p>
                    <ul class="list-unstyled li-space-lg">
                        <li class="media">
                            <i class="fas fa-square"></i>
                            <div class="media-body">Edit columns boiii</div>
                        </li>
                        <li class="media">
                            <i class="fas fa-square"></i>
                            <div class="media-body">Even duz c0l0r</div>
                        </li>
                    </ul>
                    <a class="btn-solid-reg page-scroll" href="sign-up.html">Start my free trial</a>
                </div> <!-- end of text-container -->
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of basic-1 -->
<!-- Control overstaking -->
<!-- Pricing -->
<div id="pricing" class="cards-2">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="above-heading">PRICING</div>
                <h2 class="h2-heading">Pricing Options Table</h2>
            </div> <!-- end of col -->
        </div> <!-- end of row -->
        <div class="row">
            <div class="col-lg-12">

                <!-- Card-->
                <div class="card">
                    <div class="card-body">
                        <div class="card-title">Premium</div>
                        <div class="price"><span class="currency">£</span><span class="value">14.99</span></div>
                        <div class="frequency">14 days trial</div>
                        <div class="divider"></div>
                        <ul class="list-unstyled li-space-lg">
                            <li class="media">
                                <i class="fas fa-check"></i><div class="media-body">Email Marketing Module</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-check"></i><div class="media-body">User Control Management</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-times"></i><div class="media-body">List Building And Cleaning</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-times"></i><div class="media-body">Collected Data Reports</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-times"></i><div class="media-body">Planning And Evaluation</div>
                            </li>
                        </ul>
                        <div class="button-wrapper">
                            <a class="btn-solid-reg page-scroll" href="sign-up.html">SIGN UP</a>
                        </div>
                    </div>
                </div> <!-- end of card -->
                <!-- end of card -->
                <!-- Card-->
                <div class="card">
                    <div class="card-body">
                        <div class="card-title">3 MONTH PASS</div>
                        <div class="price"><span class="currency">£</span><span class="value">34.99</span></div>
                        <div class="frequency">monthly</div>
                        <div class="divider"></div>
                        <ul class="list-unstyled li-space-lg">
                            <li class="media">
                                <i class="fas fa-check"></i><div class="media-body">Email Marketing Module</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-check"></i><div class="media-body">User Control Management</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-check"></i><div class="media-body">List Building And Cleaning</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-times"></i><div class="media-body">Collected Data Reports</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-times"></i><div class="media-body">Planning And Evaluation</div>
                            </li>
                        </ul>
                        <div class="button-wrapper">
                            <a class="btn-solid-reg page-scroll" href="sign-up.html">SIGN UP</a>
                        </div>
                    </div>
                </div> <!-- end of card -->
                <!-- end of card -->
                <!-- Card-->
                <div class="card">
                    <!--<div class="label">
                        <p class="best-value">Best Value</p>
                    </div> -->
                    <div class="card-body">
                        <div class="card-title">PRO TRADER</div>
                        <div class="price"><span class="currency">£</span><span class="value">99.99</span></div>
                        <div class="frequency">monthly</div>
                        <div class="divider"></div>
                        <ul class="list-unstyled li-space-lg">
                            <li class="media">
                                <i class="fas fa-check"></i><div class="media-body">Email Marketing Module</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-check"></i><div class="media-body">User Control Management</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-check"></i><div class="media-body">List Building And Cleaning</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-check"></i><div class="media-body">Collected Data Reports</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-check"></i><div class="media-body">Planning And Evaluation</div>
                            </li>
                        </ul>
                        <div class="button-wrapper">
                            <a class="btn-solid-reg page-scroll" href="sign-up.html">SIGN UP</a>
                        </div>
                    </div>
                </div> <!-- end of card -->
                <!-- end of card -->
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of cards-2 -->
<!-- end of pricing -->

<div class="container">
    <h1>FAQ's</h1>
    <div class="faq-drawer">
        <input class="faq-drawer__trigger" id="faq-drawer" type="checkbox" /><label class="faq-drawer__title" for="faq-drawer">DRAWER ONE </label>
        <div class="faq-drawer__content-wrapper">
            <div class="faq-drawer__content">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                </p>
            </div>
        </div>
    </div>

    <div class="faq-drawer">
        <input class="faq-drawer__trigger" id="faq-drawer-2" type="checkbox" /><label class="faq-drawer__title" for="faq-drawer-2">DRAWER TWO</label>
        <div class="faq-drawer__content-wrapper">
            <div class="faq-drawer__content">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                </p>
            </div>
        </div>
    </div>
</div>



@*
    Benefits:
    Control impulsive urges - customisable scanner
    Improve psychologically - Entry point export
    Follow daily trading plan discipline - Use Schedule to write Notes that appear on Scanner
    Control overstaking - Control what you emotionally react to
*@

@*
    Images:
    Image export photo
    Schedule photo
    Layouts and more... photo
    Pricing section
    Psychoff/SportsTradingLife/OnlyFoolsLayHorses/Gurds_LTD Testimonial
    FAQ
    CTA
*@

<style>

    .zoom {
        padding: 50px;
        transition: transform .2s; /* Animation */
        width: 850px;
        margin: 0 auto;
    }

        .zoom:hover {
            transform: scale(1.75); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
        }

    .hero-container {
        /*max-width: 100%;*/
        overflow: hidden;
    }


    row {
        background-color: #6b747b;
    }

    .faq-drawer {
        margin-bottom: 30px;
        /*max-width: 500px;*/
    }

    .faq-drawer__content-wrapper {
        font-size: 1.25em;
        line-height: 1.4em;
        max-height: 0px;
        overflow: hidden;
        transition: 0.25s ease-in-out;
    }

    .faq-drawer__title {
        border-top: #000 1px solid;
        cursor: pointer;
        display: block;
        font-size: 1.25em;
        font-weight: 700;
        padding: 30px 0 0 0;
        position: relative;
        margin-bottom: 0;
        transition: all 0.25s ease-out;
    }

        .faq-drawer__title::after {
            border-style: solid;
            border-width: 1px 1px 0 0;
            content: " ";
            display: inline-block;
            float: right;
            height: 10px;
            left: 2px;
            position: relative;
            right: 20px;
            top: 2px;
            transform: rotate(135deg);
            transition: 0.35s ease-in-out;
            vertical-align: top;
            width: 10px;
        }

        /* OPTIONAL HOVER STATE */
        .faq-drawer__title:hover {
            color: #4E4B52;
        }

    .faq-drawer__trigger:checked + .faq-drawer__title + .faq-drawer__content-wrapper {
        max-height: 350px;
    }

    .faq-drawer__trigger:checked + .faq-drawer__title::after {
        transform: rotate(-45deg);
        transition: 0.25s ease-in-out;
    }

    input[type="checkbox"] {
        display: none;
    }

    @@media only screen and (max-width: 600px) {
 
    }

    .main-container {
        min-height: 100vh!important;
    }
    .main-container {
        height: unset!important;
    }
    .faq-container {
        text-align: center;
    }
</style>