@using Microsoft.AspNetCore.Identity
@using Goalvisor.ViewModels.Core;
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject Goalvisor.Services.Users.IUserService userService;

<nav class="navbar navbar-expand-lg navbar-toggleable-lg navbar-light bg-white border-bottom box-shadow mb-3">

    <div class="container-fluid">
        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Goalvisor</a>
     
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarNav" aria-expanded="true" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Collection of nav links, forms, and other content for toggling -->
        <div id="navbarCollapse" class="collapse navbar-collapse justify-content-start">
            <div class="navbar-nav" id="navbar-list-2">
                <a asp-area="" asp-controller="Admin" asp-action="Index" class="nav-item nav-link active">Home</a>
                <a class="nav-item nav-link active" asp-area="" asp-controller="Admin" asp-action="Guide">Guide</a>
                <a class="nav-item nav-link active" asp-area="" asp-controller="Admin" asp-action="Support">Support</a>
                <a class="nav-item nav-link active" asp-area="" asp-controller="Admin" asp-action="Scanner">Scanner</a>
                <div class="nav-item dropdown show">
                    <a data-toggle="dropdown" class="nav-link dropdown-toggle active" aria-expanded="false" asp-area="" asp-controller="Affiliate" asp-action="Index">Affiliate</a>

                    <div class="dropdown-menu">
                        <a class="nav-item nav-link active" asp-area="" asp-controller="Admin" asp-action="Affiliates">Manage Referral</a>
                    </div>
                </div>
                <div class="nav-item dropdown show">
                    <a data-toggle="dropdown" class="nav-link dropdown-toggle active" aria-expanded="false" asp-area="" asp-controller="Email" asp-action="List">Email Template</a>

                    <div class="dropdown-menu">
                        <a class="nav-item nav-link active" asp-area="" asp-controller="Email" asp-action="List">Template List</a>
                        <a class="nav-item nav-link active" asp-area="" asp-controller="Email" asp-action="Template">New Template</a>
                    </div>
                </div>
            </div>

            @if (SignInManager.IsSignedIn(User))
            {
                <div class="navbar-nav ml-auto">
                    <div class="nav-item dropdown show">
                        <a data-toggle="dropdown" class="nav-link dropdown-toggle user-action" aria-expanded="false">
                            <i class="fas fa-user"></i>
                            Hello, @User.Identity.Name ! <b class="caret"></b>
                        </a>
                        <div class="dropdown-menu">

                            <a class="dropdown-item" asp-area="" asp-controller="Users" asp-action="Index"><i class="fas fa-user"></i> Manage Users</a>
                            <a class="dropdown-item" asp-area="" asp-controller="Roles" asp-action="Index"><i class="fas fa-cogs"></i> Manage Roles</a>
                            <a class="dropdown-item" asp-area="" asp-controller="Admin" asp-action="Subscriptions">Manage Subscription</a>
                            <a class="nav-item nav-link active" asp-controller="Admin" asp-action="MyAccount"><i>...</i> My Account</a>

                            <a class="nav-item nav-link active" asp-area="" asp-controller="Account" asp-action="Logout"><i class="fas fa-sign-out-alt"></i> Logout</a>
                        </div>
                    </div>
                </div> }
            else
            { <div class="navbar-nav ml-auto navbar-logout">
                    <a class="nav-item nav-link active" asp-controller="Account" asp-action="Login">Login</a>
                </div>}
        </div>

        <form class="form-inline ">
            <div class="custom-control custom-switch" title="" data-toggle="tooltip" data-placement="left" data-original-title="Toggle Dark Mode">

                <a href="#" class="btn btn-dark lda">

                    <label class="lbl-ld" for="css-toggle-btn"><i class="fa fa-sun" aria-hidden="true"></i>Light</label>
                </a>

                <input type="checkbox" class="custom-control-input" style="visibility:hidden!important" id="css-toggle-btn">
            </div>
            <div hidden class="custom-control custom-switch" title="" data-toggle="tooltip" data-placement="left" data-original-title="Remember my preference">
                <input type="checkbox" class="custom-control-input" id="css-save-btn" checked>
                <label class="custom-control-label" for="css-save-btn"></label>
            </div>
        </form>
    </div>

</nav> 